<a href="https://colab.research.google.com/github/saqib8266/DSAPROJECT19SW106/blob/main/Lab_1-(20_19SW106).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lab-01: Data Types and Operators
Rollno: 20-19SW106
Section: II

Task-1

In [6]:
num1=2
num2=3
print('Your numbers are {} and {}'.format(num1,num2))

Your numbers are 2 and 3

Task-2

In [31]:
word= 'hello world'
print(word.capitalize())
print(word.casefold())
print(word.encode())
print(word.isalnum())
print(word.isalpha())
print(word.isdigit())
print(word.islower())
print(word.isupper())
print(word.isspace())
print(word.istitle())
print(word.lstrip())
print(word.lower())
print(word.upper())

Hello world
hello world
b'hello world'
False
False
False
True
False
False
False

In [49]:
word ="hello world"
count=word.count ("1")
center=word.center (10,"_")
ends_with=word.endswith ("hello")
expand_tabs=word.expandtabs (2)
index=word.find ("4")
joined_words="_".join (word)
replaced_word=word.replace ("world", "Ali ")
refind=word.rfind ("o")
rindex=word.rindex("l")


print(count)
print(center)
print(ends_with)
print(expand_tabs)
print(index)
print(joined_words)
print(replaced_word)
print(refind)
print(rindex)

0
hello world
False
hello world
-1
h_e_l_l_o_ _w_o_r_l_d
hello Ali
7
9

Task-3

In [53]:
month = 5
days_in_month = [31,28,31,30,31,30,31,31,30,31,30,31]
print(days_in_month[month-1])

31

Task-4

In [54]:
eclipse_dates = ['June 21, 2001', 'December 4, 2002', 'November 23, 2003',
                 'March 29, 2006', 'August 1, 2008', 'July 22, 2009',
                 'July 11, 2010', 'November 13, 2012', 'March 20, 2015',
                 'March 9, 2016']

print(eclipse_dates[-3:])

['November 13, 2012', 'March 20, 2015', 'March 9, 2016']

Task-5

In [55]:
students = {
    'Sheeraz': {
        'age': 18,
        'grade': '12th',
        'subjects': ['Math', 'Science', 'English'],
    },
    'Saqib': {
        'age': 17,
        'grade': '11th',
        'subjects': ['History', 'Geography', 'Spanish'],
    },
    'Irfaan': {
        'age': 16,
        'grade': '10th',
        'subjects': ['Physics', 'Chemistry', 'Biology'],
    }
}
print(students['Sheeraz']['age'])
print(students['Saqib']['subjects'])

18
['History', 'Geography', 'Spanish']